apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "backend-service.fullname" . }}
  labels:
  {{- include "backend-service.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
  {{- include "backend-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        sidecar.istio.io/inject: 'true'
      {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
    {{- include "backend-service.selectorLabels" . | nindent 8 }}
    spec:
      imagePullSecrets:
        - name: docker-creds
      securityContext:
      {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        - name: tmp-files
          emptyDir: {}
        {{- range .Values.secrets }}
        - name: {{ . | quote }}
          secret:
            secretName: {{ . | quote }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default "latest" }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            initialDelaySeconds: 300
            httpGet:
              path: {{ .Values.basePath }}/actuator/health
              port: http
          readinessProbe:
            httpGet:
              path: {{ .Values.basePath }}/actuator/health
              port: http
          volumeMounts:
            - name: tmp-files
              mountPath: /tmp
            {{- range .Values.secrets }}
            - name: {{ . | quote }}
              mountPath: /etc/secrets/{{ . }}
              readOnly: true
          {{- end }}
          resources:
      {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
  {{- end }}
